# === Data files ===
# Ignore all raw trip CSV files
data/raw/*.csv

# Ignore heavy processed files
data/clean/*.parquet
data/clean/*.db
data/clean/*.sqlite

# Ignore backups
data/clean/backups/

# === Jupyter Notebook checkpoints ===
.ipynb_checkpoints/

# === System files ===
.DS_Store
Thumbs.db

# === IDE/editor settings ===
.pycharm/
.idea/

# === Python cache ===
__pycache__/
*.pyc
